$fonts: 'Work Sans', sans-serif;
$font-black: #222;

h1, h2, h3, h4, h5, h6 {
  font-family: $fonts;
  font-weight: 700;
  color: $font-black;
  text-rendering: optimizelegibility;
}

p, div {
  font-family: $fonts;
}


.navbar-custom {
  background-color: #fff;
  border-bottom: none;

  .navbar-brand {
    padding-top: 25px;
    // padding-bottom: 20px;
  }
  .navbar-nav {
    li {
      a {
        padding-top: 30px;
        padding-bottom: 30px;
      }
    }
  }
}

.hero-banner {
  margin-bottom: 20px;
  h1 {
    font-weight: 300;
  }
}

.hero-story {
  h2 {
    letter-spacing: -0.3px;
    font-weight: 500;
  }
}

.btn-custom {
  border: none;
  border-radius: 3px;
}
