
<div class = "container manthriinfo">
	<div class = "rows ">
	<div class = "col-md-4">
		<h3>Patalie Champika Ranawaka</h3>
		<p>Minister Megapolis Development</p>
		<p>United National Party (UNP)
			<%= image_tag('unp.png', class: 'partypic') %></p>
	</div>
	<div class = "col-md-4">
		<center>
 <%= image_tag('champika.jpg', class: 'img-circle ') %>
 </center>
 </div>
 	<div class = "col-md-4">
 		<div class = "row">
 		<div class ="col-md-4">
 		<h1>54</h1>
		<span class="label label-danger">TAGGED</span>
		</div>
		<div class ="col-md-4">
			<h1>23</h1>
		<span class="label label-warning">DISCUSSED</span>
		</div>
		<div class ="col-md-4">
		<h1>11</h1>
		<span class="label label-success">SOLVED</span>
	</div>	

		</div>
		<h1>329,456 <small>Voices</small></h1>
 	</div>	
</div>
</div>
<hr>
<div class = "container manthriinfo">
<h3>Tagged Causes</h3>
</div>

<div class = "container manthriinfo">
 <div class = "row">
  <div class="col-md-8 card">
    <div class = "row">
      <div class = "col-md-4">
          <img src="http://www.ft.lk/ftadmin/wp-content/uploads/2013/08/BUP_DFT_DFT-113.jpg" width = "200px" height = "120px">
      </div>
      <div class = "col-md-8">
      	<h3>20 fresh and colorful CSS3 buttons</h3>
      		<div class="card-vote-btns">
        	  <a class="btn btn-danger btn-custom btn-grey" href="#"><i class="fa fa-thumbs-up fa-fw fa-sm"></i></a>
        	  <a class="btn btn-danger btn-custom btn-grey" href="#"><i class="fa fa-thumbs-down fa-fw fa-sm"></i></a>
      		</div>
     </div>
    </div>
   </div>
   <div class="col-md-4">
   	<h3>
   	<span class="label label-danger">TAGGED</span>
   	</h3>
   </div>
 </div>
</div>
<div class = "container manthriinfo">
 <div class = "row">
  <div class="col-md-8 card">
    <div class = "row">
      <div class = "col-md-4">
          <img src="http://i1.trekearth.com/photos/154068/te0.jpg" width = "200px" height = "120px">
      </div>
      <div class = "col-md-8">
      	<h3>20 fresh and colorful CSS3 buttons</h3>
      		<div class="card-vote-btns">
        	  <a class="btn btn-danger btn-custom btn-grey" href="#"><i class="fa fa-thumbs-up fa-fw fa-sm"></i></a>
        	  <a class="btn btn-danger btn-custom btn-grey" href="#"><i class="fa fa-thumbs-down fa-fw fa-sm"></i></a>
      		</div>
     </div>
    </div>
   </div>
   <div class="col-md-4">
	<h3>
		<span class="label label-success">SOLVED</span>
	</h3>
   </div>
 </div>
</div>
<div class = "container manthriinfo">
 <div class = "row">
  <div class="col-md-8 card">
    <div class = "row">
      <div class = "col-md-4">
          <img src="http://www.wildlifetoursinsrilanka.com/wildlife-tours-sri-lanka-images/wildlife-tours-sri-lanka-banner-1.jpg" width = "200px" height = "120px">
      </div>
      <div class = "col-md-8">
      	<h3>20 fresh and colorful CSS3 buttons</h3>
      		<div class="card-vote-btns">
        	  <a class="btn btn-danger btn-custom btn-grey" href="#"><i class="fa fa-thumbs-up fa-fw fa-sm"></i></a>
        	  <a class="btn btn-danger btn-custom btn-grey" href="#"><i class="fa fa-thumbs-down fa-fw fa-sm"></i></a>
      		</div>
     </div>
    </div>
   </div>
   <div class="col-md-4">
	<h3>
		<span class="label label-warning">DISCUSSED</span>
	</h3>
   </div>
 </div>
</div>